<div [ngClass]="router.url == '/caddy' ? 'pageBody' : 'pageBodyView'">
  <!-- Switch according to the validation steps of caddy -->
  <ng-container [ngSwitch]="caddyStep">
    <!-- Step to chack the delivery address -->
    <div *ngSwitchCase="'firstStep'">
      adresse
    </div>

    <!-- step by default : the main display of caddy -->
    <div *ngSwitchDefault>
      <!-- Part 1 : to manage the display of order in progress -->
      <section class="order" *ngIf="statusConnexion">
        <p class="anyOrder" *ngIf="!(orderInProgress.numberOrder)" style="text-align:center;">Aucune commande en cours.</p>
        <a href="#" (click)="resetOrder($event)" *ngIf="(orderInProgress.numberOrder) && (router.url == '/caddy')">Annuler ma commande en cours</a>
        <a href="#" [routerLink]="'/caddy'" *ngIf="(orderInProgress.numberOrder) && (router.url != '/caddy')">Visualiser</a>
      </section>
      <!-- Part 2 : to manage the display of user caddy -->
      <section class="caddy">
        <p *ngIf="caddyInProgress.length <= 0" style="text-align:center;">Votre panier est vide.</p>
        <h5 *ngIf="caddyInProgress.length > 0" class="myFont">Actuellement dans votre panier :</h5>
        <table class="caddyTable" *ngIf="caddyInProgress.length > 0">
          <thead>
            <tr>
              <th class="remove">Supp.</th>
              <th >ARTICLE(S)</th>
              <th *ngIf="router.url == '/caddy'" class="screenResponsiveLarge price">PRIX</th>
              <th [ngClass]="router.url == '/caddy' ? 'qty' : 'total'">QTE</th>
              <th *ngIf="router.url == '/caddy'" class="screenResponsive cost">TOTAL</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th colspan=4 *ngIf="router.url == '/caddy'" class="screenResponsiveLarge alignRight myFont">montant global de votre panier : </th>
              <th colspan=3 *ngIf="router.url == '/caddy'" class="screenResponsive footerTable alignRight myFont">montant global de votre panier : </th>
              <th colspan=2 *ngIf="router.url == '/caddy'" class="screenResponsiveXS alignRight myFont">montant global de votre panier : </th>
              <th colspan=2 class="alignRight myFont" *ngIf="router.url != '/caddy'">montant global de votre panier : </th>
              <th class="alignRight total">{{getTotalCost(caddyInProgress)}}€</th></tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let line of caddyInProgress">
                <td><i class="material-icons" (click)="deleteItem(line.item)">delete</i></td>
                <td class="screenResponsiveXS item" (click)="callBackItem(line.item)">
                  {{line.item.name}}<br>
                  <cite>{{((line.item.discountPrice ? line.item.discountPrice : line.item.price)/100).toFixed(2)}}€</cite>
                  <cite *ngIf="line.qty > line.item.quantity" style="color:red;"><br>- Attention ! - la quantité indiquée est supérieur à la quantité en stock.</cite>
                </td>
                <td class="screenResponsive item">
                  <mat-list ><mat-list-item [routerLink]="'/items'" (click)="callBackItem(line.item)">
                    <img matLine matListAvatar *ngIf="router.url == '/caddy'" src="../../../assets/imagesArticles/{{line.item.listImagesOfItem[0].image}}" alt="image de l\'article'">
                    <h5 matLine class="myFont">{{line.item.name}}</h5>
                    <cite matLine>référence : {{line.item.reference}}</cite>
                    <span matLine *ngIf="router.url == '/caddy'"><ng-container *ngFor="let color of line.item.colors"> - {{color.name}}</ng-container></span>
                  </mat-list-item></mat-list>
                  <span *ngIf="line.qty > line.item.quantity" style="color:red;">- Attention ! - la quantité indiquée est supérieur à la quantité en stock.</span>
                </td>
                <td *ngIf="router.url == '/caddy'" class="screenResponsiveLarge alignRight">{{((line.item.discountPrice ? line.item.discountPrice : line.item.price)/100).toFixed(2)}}€</td>
                <td>
                  <input #quantity type="number" [min]=1 [max]="line.item.quantity" value="line.qty" [(ngModel)]="line.qty">
                </td>
                <td *ngIf="router.url == '/caddy'" class="screenResponsive alignRight">{{(((line.item.discountPrice ? line.item.discountPrice : line.item.price)/100)*line.qty).toFixed(2)}}€</td>
              </tr>
            </tbody>
          </table>
        </section>
        <!-- Part 3 : actions buttons -->
        <section class="actions">
          <button mat-raised-button [ngClass]="router.url != '/caddy' ? 'actionValidView myFont' : 'actionValid myFont'" type="button" (click)="router.url != '/caddy' ? finishIt() : validationOfCaddy()" *ngIf="caddyInProgress.length > 0">
            {{router.url != '/caddy'  ? 'Finaliser mon panier' : statusConnexion && orderInProgress ? 'Ajouter à la commande en cours' : 'Valider mon panier'}}
          </button>
          <button [ngClass]="router.url != '/caddy' ? 'actionContinueView myFont' : 'actionContinue myFont'" mat-raised-button type="button" [routerLink]="''" *ngIf="caddyInProgress.length > 0">Continuer mes achats</button>
          <button [ngClass]="router.url != '/caddy' ? 'actionResetView myFont' : 'actionReset myFont'" mat-raised-button type="button" *ngIf="caddyInProgress.length > 0" (click)="resetCaddy()">Vider mon panier</button>
          <button class="return myFont" mat-raised-button type="button" (click)="callBack()" *ngIf="router.url == '/caddy'">RETOUR</button>
        </section>
      </div>
    </ng-container>
  </div>
