main {
  padding: 20px;
}

.description {
  display: none;
}

li a {
  color: #2da4c4;
}

li a:hover {
  color: #FAD796;
}

@media screen and (min-width: 768px) {
  .description {
    display: initial;
  }
}
