.bodyItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
}

.error {
  text-align: center;
}

.myFont {
  font-family: "myFont", Arial, sans-serif;
}

.listItems, .detailsItem, .itemContent{
  padding:0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin:0px;
}

mat-paginator, .itemCard {
  width: 90vw;
}

.itemCard {
  background: #2da4c4;
  overflow: hidden;
  margin: 10px auto;
}

.return {
  margin: 5px;
  height: 4vh;
  line-height: 4vh;
}

.imageCard {
  height: 23vh;
  width: auto;
  overflow: hidden;
  text-align: center;
  margin: 5px;
}

.imageCard img {
  height: 23vh;
}

.identityCard {
  background: #FAD796;
  margin: 5px;
  padding: 5px;
}

.identityCard h1, .identityCard h4, .identityCard h6 {
  margin: 0px;
}

.identityCard h1, .identityCard h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  text-decoration: line-through;
}

.picturesItem, .descriptionItem, .technicalInformationsItem, .itemResume {
  width: 90vw;
  overflow: hidden;
  margin: 10px auto;
}

.picturesItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.itemResume {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.quantityItem {
  border: solid 5px #2da4c4;
  margin-top: 5px;
  width: auto;
  padding: 5px;
}

.mainPic {
  height: 23vh;
  overflow: hidden;
  text-align: center;
}

.mainPic img {
  height: 23vh;
}

.albumItem {
  height: 10vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.albumPic {
  max-width: 25%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 1px 1px 6px 1px;
}

.albumPic img {
  height: 100%;
}

.identityItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #FAD796;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
}

.dataItem {
  margin: 5px;
  width: 100%;
}

.dataItem h4 {
  margin: 0px;
}

.dataItem h6 {
  margin: 5px 0px;
}

.dataItem mat-form-field {
  width: 100%;
}

.dataItem mat-select {
  background: white;
}

.dataItem mat-select:active {
  color: black;
}

.itemPrice {
  background: white;
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
  margin-right: 5px;
}

.itemPrice h4 {
  margin: auto;
  text-align: center;
}

.add {
  background: #2da4c4;
  color: #FAD796;
  border-color: #2da4c4;
  margin-top: 5px;
}

.quantityItem input {
  text-align: right;
  font-size: 0.9em;
}

.descriptionItem, .technicalInformationsItem {
  background: #FAD796;
  padding: 5px;
  white-space: pre-wrap;
}

.descriptionItem h4, .technicalInformationsItem h4 {
  margin: 5px 0px;
}

.descriptionItem p, .technicalInformationsItem p {
  background: white;
  margin: 0px;
  padding: 5px;
}

.caddyView {
  border: solid 5px #2da4c4;
  width: 30vw;
  min-height: 77vh;
  margin: 5px 10px;
  display: none;
}

p {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
}

li:before {
  content: "- ";
}

.desactive {
  color: silver;
}

@media screen and (orientation: landscape) {
  .itemCard {
    width: 45vw;
  }

  .imageCard img, .imageCard {
    height: 36vh;
  }

  .mainPic, .mainPic img {
    height: 75vh;
  }

  .albumItem {
    height: 20vh;
  }

  .albumPic {
    height: 17vh;
  }

  .dataItem {
    width: 68%;
  }

  .itemPrice {
    width: 28%;
  }
}

@media screen and (orientation: portrait) and (min-width: 768px) and (max-width:1023px) {
  .itemCard, .picturesItem, .itemResume {
    width: 45vw;
  }

  .imageCard img, .imageCard, .mainPic, .mainPic img {
    height: 15vh;
  }

  .albumItem {
    height: 9vh;
  }

  .albumPic {
    height: 7vh;
  }
}

@media screen and (orientation: landscape) and (min-width:1024px) {
  .itemCard {
    width: 30vw;
  }

  .imageCard img, .imageCard, .mainPic, .mainPic img {
    height: 18vh;
  }

  .detailsItem, .listItems {
    width: 70vw;
    align-content: space-around;
  }

  .picturesItem, .itemResume{
    width: 45%;
  }

  .caddyView {
    display: block;
  }

  .albumItem {
    height: 10vh;
  }

  .albumPic {
    height: 8vh;
  }

  .dataItem {
    width: 100%;
  }

  .itemPrice {
    width: 60%;
  }

}

@media screen and (orientation: portrait) and (min-width: 1024px) {
  .itemCard {
    width: 30vw;
  }

  .itemCard img, .imageCard, .mainPic, .mainPic img  {
    height: 10vh;
  }

  .detailsItem, .listItems {
    width: 70vw;
    align-content: space-around;
  }

  .picturesItem, .itemResume{
    width: 45%;
  }

  .albumItem {
    height: 7vh;
  }

  .albumPic {
    height: 5vh;
  }

  .caddyView {
    display: block;
  }
}
