<section>
  <article class="part1">
    <i class="material-icons search">search</i>
    <input matInput placeholder="Rechercher un article" aria-label="recherche d'article" [formControl]="searchItems">
    <i class="material-icons cancel" (click)="reset()">cancel</i>
  </article>
  <article class="part2">
    <button type="button" [routerLink]="'/caddy'">
      <i class="material-icons shop">shopping_cart</i>
      <div>mon panier</div>
    </button>
  </article>
</section>
<section *ngIf="getErrorMessage()"><h2 class="error">{{getErrorMessage()}}</h2></section>
