<div class="pageContent">
  <section class="catSection">
    <section *ngIf="errorMessage"><h2 class="error">{{errorMessage}}</h2></section>
    <article *ngFor="let cat of categories" class="catCard">
      <div class="avatar">
        <img src="../assets/imagesCategories/{{cat.image}}" alt="photo de la rubrique {{cat.name}}" [title]="cat.name">
        <div class="actionButton" (click)="selectedCategory(cat.id)"><h2>{{cat.name}}</h2></div>
      </div>
      <h3 class="title">{{cat.name}}</h3>
    </article>
  </section>
  <section class="caddyView">
    <app-caddy></app-caddy>
  </section>
</div>
