<!-- header to make a search with autocompletion -->
<!--<section class="header"><app-header></app-header></section>-->
<!-- main page to display categories -->
<div class="pageContent">
  <section class="catSection">
    <section *ngIf="errorMessage"><h2 class="error">{{errorMessage}}</h2></section>
    <section class="admin"><button mat-raised-button type="button" (click)="addCategory($event)"
      *ngIf="statusConnexion && getUserPosition() && (userPosition === 'USER_ADMIN' || userPosition === 'USER_ADMIN2')">Ajouter une catégorie</button>
    </section>
    <article *ngFor="let cat of categories" class="catCard">
      <div class="avatar">
        <div><img src="{{pathPics + cat.image}}" alt="photo de la rubrique {{cat.name}}" [title]="cat.name"></div>
        <div class="actionButton" (click)="selectedCategory(cat.id)"><h2>{{cat.name}}</h2></div>
        <button class="button" mat-raised-button type="button" (click)="addItem(cat.id)"
        [routerLink]="['/items']" *ngIf="statusConnexion && getUserPosition() && (userPosition === 'USER_ADMIN' || userPosition === 'USER_ADMIN2')">
        Ajouter un article dans la catégorie
      </button>
    </div>
    <h3 class="title">{{cat.name}}</h3>
  </article>
</section>
<section class="caddyView">
  <app-caddy></app-caddy>
</section>
</div>
