<main>
  <!-- form to edit an item -->
  <form [formGroup]="editionForm" class="border border-light editionForm">
    <h5>Edition d'un article</h5>

    <!-- Part 1 : identity of item -->
    <div class="form-row mb-2 itemEdit">
      <!-- category -->
      <div class="form-row itemCategory">
        <label for="category" class="myFont col-form-label column"><button type="button"  (click)="addCategory($event)" class="buttonStyle">
          <i class="material-icons">create</i></button> catégorie de l'article : </label>
          <select id="category" class="form-control" formControlName="category" required>
            <option value="" disabled>Choisissez la catégorie</option>
            <option *ngFor="let cat of categoriesList" [ngValue]="cat">{{cat.name}}</option>
          </select>
        </div>
        <!-- name, item code & price -->
        <fieldset class="mb-2 itemDataBorder"><span class="myFont">Données de l'article :</span>
          <div class="form-row mb-2 itemData">
            <input type="text" class="form-control" placeholder="Nom du produit" formControlName="name" required>
            <mat-error *ngIf="editionForm.get('name').touched && editionForm.get('name').hasError('required')">la valeur du champ est obligatoire</mat-error>
            <mat-error *ngIf="editionForm.get('name').hasError('pattern')">la valeur du champ a un format incorrect</mat-error>
            <mat-error *ngIf="editionForm.get('name').hasError('maxlength')">la valeur du champ est trop longue</mat-error>
            <input type="text" class="form-control" placeholder="Code produit" formControlName="itemNumber" required>
            <mat-error *ngIf="editionForm.get('itemNumber').touched && editionForm.get('itemNumber').hasError('required')">la valeur du champ est obligatoire</mat-error>
            <mat-error *ngIf="editionForm.get('itemNumber').hasError('pattern')">la valeur du champ a un format incorrect</mat-error>
            <mat-error *ngIf="editionForm.get('itemNumber').hasError('maxlength')">la valeur du champ est trop longue</mat-error>
          </div>
          <div class="form-row" style="justify-content: space-around;">
            <div class="form-row mb-2 itemPrices">
              <label for="price" class="myFont col-form-label">Prix :</label>
              <input type="number" id="price" class="form-control" min=0 max=999999.99 step="0.01" placeholder="prix" formControlName="price" required><span class="myFont"> €</span>
              <mat-error *ngIf="editionForm.get('price').touched && editionForm.get('price').hasError('required')">la valeur du champ est obligatoire</mat-error>
              <mat-error *ngIf="editionForm.get('price').hasError('pattern')">la valeur du champ a un format incorrect</mat-error>
              <mat-error *ngIf="editionForm.get('price').hasError('maxlength')">la valeur du champ est trop longue</mat-error>
            </div>
            <div class="form-row mb-2 itemPrices">
              <label for="discountPrice" class="myFont col-form-label">Prix en promotion :</label>
              <input type="number" id="discountPrice" class="form-control" min=0 max=999999.99 step="0.01" placeholder="prix promo" formControlName="discountPrice"><span class="myFont"> €</span>
              <mat-error *ngIf="editionForm.get('discountPrice').hasError('pattern')">la valeur du champ a un format incorrect</mat-error>
              <mat-error *ngIf="editionForm.get('discountPrice').hasError('maxlength')">la valeur du champ est trop longue</mat-error>
            </div>
          </div>
        </fieldset>
        <!-- stock -->
        <div class="quantityItem form-row mb-2">
          <label for="qty" class="myFont col-form-label">Quantité en stock :</label>
          <input type="number" min=0 id="qty" placeholder="quantité" class="form-control" formControlName="qty">
          <cite class="col-form-label">(champ optionel : par défaut 0)</cite>
          <mat-error *ngIf="editionForm.get('qty').hasError('pattern')">la valeur du champ a un format incorrect</mat-error>
          <mat-error *ngIf="editionForm.get('qty').hasError('maxlength')">la valeur du champ est trop longue</mat-error>
        </div>
      </div>
      <!-- end of part 1 : identity item -->

      <!-- Part 2 : technical informations of item -->
      <div class="form-row mb-2 technicalInformationsItem">
        <label for="technicalInformations" class="myFont">Informations techniques :</label>
        <textarea class="form-control" id="technicalInformations" placeholder="Merci de notifier les détails techniques du produit" formControlName="technicalInformations" required></textarea>
        <mat-error *ngIf="editionForm.get('technicalInformations').touched && editionForm.get('technicalInformations').hasError('required')">la valeur du champ est obligatoire</mat-error>
        <mat-error *ngIf="editionForm.get('technicalInformations').hasError('pattern')">la valeur du champ a un format incorrect</mat-error>
        <mat-error *ngIf="editionForm.get('technicalInformations').hasError('maxlength')">la valeur du champ est trop longue</mat-error>
      </div>
      <!-- End of part 2 : technical informations -->

      <!-- Part 3 : description informations of item -->
      <div class="form-row mb-2 descriptionItem">
        <label for="description" class="myFont">Description :</label>
        <cite> (champ optionel)</cite>
        <textarea class="form-control" id="description" placeholder="Ajouter une description du produit" formControlName="description"></textarea>
        <mat-error *ngIf="editionForm.get('description').hasError('pattern')">la valeur du champ a un format incorrect</mat-error>
        <mat-error *ngIf="editionForm.get('description').hasError('maxlength')">la valeur du champ est trop longue</mat-error>
      </div>
      <!-- End of part 3 : description informations -->

      <!-- Part 4 : composition & pics -->
      <section formArrayName="composition" class="form-row mb-2 composition">
        <fieldset *ngFor="let compo of getComposition().controls; let i = index" class="mb-2 CompoElement"><span class="myFont">Composition :</span>
          <section [formGroup]="this.getComposition().controls[i]">
            <!-- section of materials -->
            <div formArrayName="colors" class="colorsBorder">
              <label class="myFont col-form-label">
                <button type="button"  (click)="createMaterial($event)" class="buttonStyle"><i class="material-icons">create</i></button> Matériaux :
              </label>
              <div class="form-row mb-2" *ngFor="let color of getColors(i).controls; let j = index">
                <select class="form-control" (change)="selectedMaterial(i, j, $event)">
                  <option value="" disabled selected>Choisissez la matière</option>
                  <option *ngFor="let material of materialList" [value]="material">{{material}}</option>
                </select>
                <select class="form-control" [formControlName]="j" required>
                  <option value="" disabled selected>Choisissez le matériaux</option>
                  <option *ngFor="let color of selectedList[i][j]" [ngValue]="color">{{color.name}}</option>
                </select>
                <i class="material-icons" (click)="removeColor(i, j, $event)" *ngIf="j > 0">remove_circle_outline</i>
              </div>
              <i class="material-icons" (click)="addColors(i, $event)">add_circle_outline</i>
            </div>
            <!-- End of materials section -->

            <!-- section of pictures -->
            <div formArrayName="pics" class="picsBorder">
              <label class="myFont col-form-label">Photo(s) :</label>
              <div *ngFor="let pic of getPics(i).controls; let k = index" class="form-row mb-2 itemPics">
                <input type="file" class="form-control" (change)="selectPic($event, i, k)" [formControlName]="k" accept="image/*" required>
                <mat-error *ngIf="this.getPics(i).controls[k].touched && this.getPics(i).controls[k].getError('required')">selection obligatoire</mat-error>
                <mat-error *ngIf="this.getPics(i).controls[k].touched && this.getPics(i).controls[k].getError('formatPic')">format incorrect (autorisés: png et jpeg)</mat-error>
                <mat-error *ngIf="this.getPics(i).controls[k].touched && this.getPics(i).controls[k].getError('sizeControl')">fichier trop lourd (maximum: 2MB)</mat-error>
                <i class="material-icons" (click)="removePics(i, k, $event)" *ngIf="k > 0">remove_circle_outline</i>
              </div>
              <i class="material-icons" (click)="addPics(i, $event)">add_circle_outline</i>
            </div>
            <!-- End of pictures section -->

          </section>
          <button mat-raised-button class="myFont updateCompo" (click)="removeComposition(i, $event)" *ngIf="i > 0">Supprimer cette composition de l'article</button>
        </fieldset>
        <button mat-raised-button class="myFont updateCompo" (click)="addComposition($event)">Créer une nouvelle composition de l'article</button>
      </section>
      <!-- End of part 4 : composition & pics-->

      <!-- Part 5 : action buttons of form -->
      <button class="myFont sendButton" mat-raised-button type="button" [disabled]="!editionForm.valid || (progress.percentage > 0 && progress.percentage < 100)" (click)="saveItem(editionForm.value)">Enregistrer</button>
      <!-- end of part 5 : action buttons -->
    </form>
    <!-- end of edition item form -->
    <button class="myFont" mat-raised-button type="button" (click)="callback()">Retour</button>
    <mat-progress-bar mode="determinate" value="{{progress.percentage}}" *ngIf="progress.percentage > 0 && progress.percentage < 100"></mat-progress-bar>
  </main>
