<!-- we make a switch to manage the dialog display -->
<section [ngSwitch]="data.view">

  <!-- this dialog when it's a diaporama -->
  <article *ngSwitchCase="'diapo'">
    <mat-dialog-content>
      <!--Carousel Wrapper-->
      <mdb-carousel [isControls]="true" [animation]="'slide'">
        <!-- slide -->
        <mdb-carousel-item *ngFor="let img of data.album">
          <img class="d-block w-100" src="../../../assets/imagesArticles/{{img.image}}">
        </mdb-carousel-item>
        <!-- slide -->
      </mdb-carousel>
      <!--/.Carousel Wrapper-->
    </mat-dialog-content>
  </article>
  <!-- End of diaporama -->

  <!-- this dialog when we ask a confirm at user -->
  <article *ngSwitchCase="'removeConfirm'" style="text-align:center;">
    <h3 mat-dialog-title>Confirmation</h3>
    <mat-dialog-content>
      <p><span *ngIf="!(data.update)">Voulez-vous vraiment supprimer :<br></span>
      {{data.message}}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-button mat-dialog-close>NON</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OUI</button>
    </mat-dialog-actions>
  </article>
  <!-- End of user confirmation -->

  <!-- this dialog when user made an inscription-->
  <article *ngSwitchCase="'inscriptionIsDone'" style="text-align:center;">
    <h3 mat-dialog-title>Inscription en cours</h3>
    <mat-dialog-content>
      <p>Merci pour votre demande d'inscription. Celle-ci reste valable <strong>24 heures</strong>.<br>
      Pour valider définitivement votre compte client, merci de cliquer sur le bouton contenu dans le mail qui vient de vous être adressé.</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-button (click)="inscriptionConfirmClose()" cdkFocusInitial>OK</button>
    </mat-dialog-actions>
  </article>
  <!-- End of inscription user confirmation -->

  <!-- default : dialogue to do connexion -->
  <article *ngSwitchDefault class="cnxView">
    <form [formGroup]="cnxControl">
      <h3 mat-dialog-title>connexion</h3>
      <h6 mat-dialog-title *ngIf="errorlogin" class="errorLogin">{{errorlogin}}</h6>
      <mat-dialog-content>
        <div>
          <mat-form-field>
            <input #login matInput type="email" placeholder="votre email" aria-label="saisir le mail" formControlName="email" required>
          </mat-form-field>
          <mat-form-field>
            <input #pwd matInput type="password" placeholder="votre mot de passe" aria-label="saisir le mot de passe" formControlName="pwd" required>
          </mat-form-field>
          <cite align="end" (click)="askPassword()">mot de passe oublié</cite>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="center">
        <div>
          <button mat-raised-button type="submit" [disabled]="!cnxControl.valid" class="cnx" (click)="userCnx(login.value, pwd.value)">CONNEXION</button><br>
          <cite class="account" [routerLink]="['/users']" routerLinkActive="router-link-active" (click)="close()">creer un compte</cite>
        </div>
      </mat-dialog-actions>
    </form>
  </article>
  <!-- End of default view -->

</section>
